{% extends 'base.html' %}
{% block title %}register{% endblock %}
{% block content %}

<p>
    <form id="login_form">
        <input type="text" name="name" id="name" placeholder="Имя" required/>
        <input type="text" name="login" id="login" placeholder="Логин" required/>
        <input type="password" name="password" id="password" placeholder="Пароль" required/>
        <input type="submit" value="Войти"/>
    </form>
    <p>Do you have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div>
{% endblock %}

{% block js_after %}
get = (i)=>document.getElementById(i)
get('login_form').addEventListener('submit',async (e)=>{
    e.preventDefault();
    const form = new URLSearchParams({name:get('name').value, login: get('login').value, password: get('password').value });
    try{
        const res = await fetch('/user/register', {
            method: 'post',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: form,
            credentials: 'include'
        });
        if(res.ok)window.location.href = "{{ url_for(redirect) }}"

    }catch (err) {
    }
})
{% endblock %}
